@import "../../../css-config/mixins.scss";
.Overview-main-content {
  margin: 20px 0;
  @include md {
    margin: 75px 0;
  }
  .layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    @include md {
      max-width: 1200px;
    }
    .Overview-page {
      display: flex;
      flex-direction: column;
      @include md {
        flex-direction: row;
      }
      .left {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        flex-shrink: 0;
        @include md {
          width: 600px;
          height: 600px;
          object-fit: contain;
        }
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        @include md {
          padding: 0 35px;
        }
        .name {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 20px;
          @include md {
            font-size: 24px;
            line-height: 32px;
          }
        }
        .location {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 20px;}
        .price {
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 20px;
        }
        .desc {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
          color: #6b6b6b;
          @include md {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 20px;
          }
        }

        .cart-buttons {
          display: flex;
          @include md {
            margin-top: 30px;
          }
          .quantity-buttons {
            width: fit-content;
            display: flex;
            border: 2px solid rgba(0, 0, 0, 0.2);
            margin-right: 10px;
            height: 50px;
            span {
              font-size: 18px;
              width: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              color: #6b6b6b;
              &:nth-child(1) {
                border-right: 2px solid rgba(0, 0, 0, 0.2);
              }
              &:nth-child(2) {
                width: 60px;
              }
              &:nth-child(3) {
                border-left: 2px solid rgba(0, 0, 0, 0.2);
              }
            }
          }
          .add-to-cart-button {
            outline: 0;
            border: 0;
            height: 50px;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 16px;
            color: white;
            background: #8e2de2;
            border-bottom: 3px solid #6516aa;
            flex-grow: 1;
            @include md {
              flex-grow: unset;
            }
            svg {
              margin-right: 10px;
            }
          }
        }

        .divider {
          margin: 20px 0;
          height: 1px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.1);
        }

        .info-item {
          .text-bold {
            font-size: 18px;
            font-weight: 500;
            display: block;
            &:nth-child(1) {
              margin-bottom: 20px;
            }
            span {
              font-size: 16px;
              font-weight: 400;
              cursor: pointer;
              color: #6b6b6b;
            }
            svg {
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
}



.Rooms-container {
  margin: 50px 0;
  @include md {
    margin: 115px 0;
  }
  .sec-heading {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    @include md {
      margin-bottom: 35px;
      font-size: 24px;
    }
    &:after {
      content: "";
      display: block;
      margin-top: 5px;
      width: 50px;
      height: 3px;
      background-color: #8e2de2;
      @include md {
        margin-top: 10px;
      }
    }
  }
  .Rooms {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    @include md {
      gap: 20px;
    }
  }
}

.RelatedRooms-card {
  cursor: pointer;
  width: calc(50% - 5px);

  @include md {
    width: calc(20% - 15px);
  }
  .thumbnail {
    width: 100%;
    height: 180px;
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    @include md {
      height: 200px;
    }
    img {
      transition: all ease 0.3s;
      display: block;
      width: 100%;
    }
  }
  .Rooms-details {
    .name {
      font-size: 14px;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include md {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
    .price {
      font-size: 18px;
      @include md {
        font-size: 24px;
      }
    }
  }
  &:hover {
    .thumbnail {
      img {
        transform: scale(1.2);
      }
    }
  }
}
